/* Footer.css */
.manifesto-text-shadow {
  text-shadow: 6px 6px 0px #002fa7;
}

.sitewide-block-manifesto {
  box-sizing: border-box;
}

/* Ensure no override styles from index.css interfere */
.sitewide-block-manifesto a {
  text-decoration: none;
}
